<div class="body-container">
  <div class="screen"></div>
  <div class="bmo-body"></div>
  <div class="slot"></div>
</div>

<div class="buttons-container">
  <div class="buttons">
    <div>
      <a href="/home" class="home-button">
        <img src="/triangle.svg" alt="home" class="filter-blue" />
      </a>
      <div class="home-hover">
        <h1 class="home-title" id="title">HOME</h1>
        <img
          src="/triangleBorderWhite.svg"
          alt="triangleBorder"
          class="triangle-border-white"
        />
      </div>
      <img
        src="/triangleBorder.svg"
        alt="triangleBorder"
        class="triangle-border"
      />
    </div>

    <div>
      <a href="/game" class="game-button"></a>
      <h1 class="game-title" id="title">GAME</h1>
    </div>

    <div>
      <a href="/characters" class="character-button"></a>
      <h1 class="character-title" id="title">CHARACTERS</h1>
    </div>

    <div>
      <a href="/search" class="search-button"></a>
      <h1 class="search-title" id="title">SEARCH</h1>
    </div>

    <div>
      <a href="/credits" class="credits-button"></a>
      <h1 class="credits-title" id="title">CREDITS</h1>
    </div>

    <div>
      <a href="/settings" class="settings-button"></a>
      <h1 class="settings-title" id="title">SETTINGS</h1>
    </div>

    <div>
      <a href="/places" class="places-button">
        <img src="/plus.svg" alt="places" />
      </a>
      <div class="places-hover">
        <h1 class="places-title" id="title">PLACES</h1>
        <img
          src="/plusBorderWhite.svg"
          alt="places"
          class="plus-border-white"
        />
      </div>
      <img src="/plusBorder.svg" alt="plusBorder" class="plus-border" />
    </div>
  </div>
  <script>
    $(".buttons").mouseenter(function () {
      $("#hide").hide();
    });
    $(".buttons").mouseleave(function () {
      $("#hide").show();
    });
  </script>
</div>
