<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1><%= character.name %></h1>
    <p>Fullname: <%= character.fullname %></p>
    <p>Gender: <%= character.gender %></p>
  </body>
</html>
