<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/body.ejs") %>


    <div class="characters-container" id="hide">
      <% characters.forEach((character) => { %>
      <a href="/characters/<%= character.id %>">
        <p class="list"><%= character.name %></p>
      </a>
      <% }) %>
    </div>

    <!-- <div class="cover-scrollbar"></div> -->

  </body>
</html>
