<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/body.ejs") %>
    <div class="body-container">
      <div class="credits-container" id="hide">
        <a class="credits" href="https://github.com/aSadGuy" target="_blank"
          >GitHub</a
        >
        <a class="credits" href="https://twitter.com/p4nthera_" target="_blank"
          >Twitter</a
        >
      </div>
    </div>
  </body>
</html>
