<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <div class="screen"></div>

    <h1>Characters</h1>

    <%- getCharacter.forEach(character => { %>
    <br />
    <a href="/characters/<%= getCharacter.id %>" class="character">
      <div class="character-box"></div>
    </a>
    <% }) %>

  </body>
</html>
