<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <div class="screen"></div>
    <div class="bmo-body"></div>

    <div>
      <a href="/characters" class="characters-button">
        <img src="/triangle.svg" alt="characters" class="filter-blue" />
      </a>
      <div class="character-hover">
        <h1 class="characters-title">characters</h1>
        <img
          src="/triangleBorderWhite.svg"
          alt="triangleBorder"
          class="triangle-border-white"
        />
      </div>
      <img
        src="/triangleBorder.svg"
        alt="triangleBorder"
        class="triangle-border"
      />
      <!-- <h1 class="characters-title">characters</h1> -->
    </div>
  </body>
</html>
