<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/body.ejs") %>

    <div class="bmo-face">
      <img
        src="/landingAnimation.svg"
        alt="landing-animation"
        class="bmo-face"
        id="landing-animation"
      />
      <script>
        $("#landing-animation").hide(0).delay(500).show(0).delay(1000).hide(0);
      </script>

      <img
        src="/animation.svg"
        alt="bmo-face"
        class="bmo-face"
        id="animation"
      />
      <script>
        $("#animation").hide(0).delay(1500).show(0);
      </script>
    </div>
    <div class="bmo-face-off">
      <script>
        $(".bmo-face-off").delay(500).hide(0);
      </script>
    </div>
  </body>
</html>
