<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <div class="screen"></div>
    <div class="bmo-body"></div>
    <div>
      <div>
        <a href="/characters" class="characters-button">
          <img src="/triangle.svg" alt="characters" class="filter-blue" />
        </a>
        <div class="character-hover">
          <h1 class="characters-title">CHARACTERS</h1>
          <img
            src="/triangleBorderWhite.svg"
            alt="triangleBorder"
            class="triangle-border-white"
          />
        </div>
        <img
          src="/triangleBorder.svg"
          alt="triangleBorder"
          class="triangle-border"
        />
      </div>

      <div>
        <a href="/game" class="game-button"></a>
        <h1 class="game-title">GAME</h1>
      </div>

      <div>
        <a href="/about" class="about-button"></a>
        <h1 class="about-title">ABOUT</h1>
      </div>

      <div>
        <a href="/places" class="places-button">
          <img src="/plus.svg" alt="places" />
        </a>
        <div class="places-hover">
          <h1 class="places-title">PLACES</h1>
          <img
            src="/plusBorderWhite.svg"
            alt="places"
            class="plus-border-white"
          />
        </div>
        <img src="/plusBorder.svg" alt="plusBorder" class="plus-border" />
      </div>
    </div>
  </body>
</html>
