<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <% places.forEach((place) => { %>
    <form method="get" action="/places/<%= place.id %>">
      <button class="place-box" type="submit"><%= place.name %></button>
    </form>
    <% }) %>
  </body>
</html>
