<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/body.ejs") %>

    <div class="places-list-container">
      <% places.forEach((place) => { %>
      <a href="/places/<%= place.id %>">
        <p class="list"><%= place.name %></p>
      </a>
      <% }) %>
    </div>

  </body>
</html>
