<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <script src="/search.js" defer></script>

    <%- include("./partials/body.ejs") %>
    <div class="body-container">
      <input type="search" data-search />
      
    </div>
  </body>
</html>
