body {
  background-color: rgb(60, 107, 99);
}

.screen {
  position: fixed;
  background-color: rgb(145, 218, 195);
  height: 225px;
  width: 315px;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid black;
  z-index: 3;
}

.characters-button {
  position: fixed;
}

.bmo-body {
  position: fixed;
  background-color: rgb(34, 143, 116);
  height: 530px;
  width: 370px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid black;
  z-index: 2;
}

.character-box {
  position: relative;
  background-color: grey;
  height: 75px;
  width: 75px;
  border-radius: 15px;
  border: 1px solid grey;
}
.character-box:hover {
  border: 1px solid rgba(195, 241, 239, 0.842);
}

.place-box {
  position: relative;
  background-color: grey;
  height: 75px;
  width: 75px;
  border-radius: 15px;
  border: 1px solid grey;
}
.place-box:hover {
  border: 1px solid rgba(195, 241, 239, 0.842);
}

/* .screen:hover {
  border: 2px solid rgb(180, 189, 57);
} */

.fullscreen {
  position: absolute;
  background-color: rgb(145, 218, 195);
  height: 95vh;
  width: 95vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  border: 1px solid black;
}
