@font-face {
  font-family: bmoFont;
  src: url(disposabledroid-bb/DisposableDroidBB.ttf);
}

body {
  background-color: #333;
  font-family: bmoFont;
}
h1 {
  font-size: 50px;
}
a {
  text-decoration: none;
}

.screen {
  position: fixed;
  background-color: rgb(145, 218, 195);
  height: 225px;
  width: 315px;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid black;
  z-index: 2;
}

.bmo-face-off {
  position: fixed;
  background-color: rgb(0, 0, 0);
  height: 225px;
  width: 315px;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid black;
  z-index: 2;
}

.bmo-face {
  position: fixed;
  top: 31%;
  left: 50%;
  max-width: 225px;
  max-height: 225px;
  z-index: 3;
  transform: translate(-50%, -50%);
  color: rgba(3, 51, 73, 0.575);
}

#title {
  top: 26%;
}

.buttons:hover + .bmo-face {
  display: none;
}
.buttons:hover + .places-list-container {
  display: none;
}
.buttons:hover + .character-list-container {
  display: none;
}

/* Places Button */

.places-hover {
  display: none;
}
.places-title {
  position: fixed;
  top: 27%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  color: rgba(3, 51, 73, 0.575);
}

.places-button {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-130%, -50%);
  z-index: 3;
}

.plus-border {
  position: fixed;
  top: 69.63%;
  left: 50%;
  z-index: 1;
  transform: translate(-127.75%, -50%);
}
.plus-border-white {
  position: fixed;
  top: 69.63%;
  left: 50%;
  z-index: 2;
  transform: translate(-127.75%, -50%);
}

.places-button:hover + .places-hover {
  display: block;
}

/* Character Button*/
.home-hover {
  display: none;
}
.home-title {
  position: fixed;
  top: 27%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  color: rgba(3, 51, 73, 0.575);
}

.home-button {
  position: fixed;
  top: 64%;
  left: 50%;
  z-index: 3;
  transform: translate(50%, -50%);
}
.triangle-border-white {
  position: fixed;
  top: 63.62%;
  left: 50%;
  z-index: 2;
  transform: translate(44.25%, -50%);
}
.triangle-border {
  position: fixed;
  top: 63.62%;
  left: 50%;
  z-index: 1;
  transform: translate(44.25%, -50%);
}

.home-button:hover + .home-hover {
  display: block;
}

/* Game Button */
.game-button {
  position: fixed;
  height: 87px;
  width: 87px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  top: 78%;
  left: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
}
.game-button:hover {
  border: 1px solid white;
}
.game-title {
  position: fixed;
  top: 27%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  color: rgba(3, 51, 73, 0.575);
  display: none;
}
.game-button:hover + .game-title {
  display: block;
}

/* About Button */
.character-button {
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: rgb(49, 165, 39);
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  top: 64%;
  left: 50%;
  transform: translate(190%, -50%);
  z-index: 2;
}
.character-button:hover {
  border: 1px solid white;
}
.character-title {
  position: fixed;
  top: 27%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  color: rgba(3, 51, 73, 0.575);
  display: none;
}
.character-button:hover + .character-title {
  display: block;
}

.bmo-body {
  position: fixed;
  background-color: rgb(34, 143, 116);
  height: 530px;
  width: 370px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid black;
  z-index: 1;
}

/* Character Page */
.character-box {
  position: relative;
  background-color: grey;
  height: 75px;
  width: 75px;
  border-radius: 15px;
  border: 1px solid grey;
}
.character-box:hover {
  border: 1px solid rgba(195, 241, 239, 0.842);
}

/* Places Page */
.places-list-container {
  position: absolute;
  height: 225px;
  width: 315px;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.list {
  position: relative;
  font-size: 25px;
  z-index: 3;
  top: 5px;
  padding-left: 7px;
  padding-top: 5px;
  margin: 0%;
  color: rgb(23, 84, 112);
}

.list:hover {
  background-color: rgba(23, 84, 112, 0.822);
  color: rgb(145, 218, 195);
}

/* Character Page */
.character-list-container {
  position: absolute;
  height: 225px;
  width: 315px;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 9px;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: rgba(23, 84, 112, 0.822);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(23, 84, 112);
}
::-webkit-scrollbar-button {
  height: 10px;
}
::-webkit-scrollbar-button

.list {
  position: relative;
  font-size: 25px;
  z-index: 3;
  top: 5px;
  padding-left: 7px;
  padding-top: 5px;
  margin: 0%;
  color: rgb(23, 84, 112);
}

.list:hover {
  background-color: rgba(23, 84, 112, 0.822);
  color: rgb(145, 218, 195);
}
